.song-container {
  width: 300px;
  margin-bottom: 5px;
}

.song-info {
  display: flex;
}

.song-details {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.song-album {
  width: 100px !important;
  height: 100px !important;
  margin-right: 10px;
  background-color: #222222;
}

.song-details-container {
  width: 190px;
}

.song-details {
  padding: 0px !important;
}
